@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Oregano:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: var(--headingFont);
    color: var(--colorBlack);
}

p,
span {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: var(--paraColor);
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: var(--bodyFont);
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    transition: all 0.3s 0s ease-out;
    -webkit-transition: all 0.3s 0s ease-out;
    -moz-transition: all 0.3s 0s ease-out;
    -ms-transition: all 0.3s 0s ease-out;
    -o-transition: all 0.3s 0s ease-out;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #ddd;
    font-size: 16px;
    font-weight: 300;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

input::placeholder,
textarea::placeholder {
    color: #a6a6ac;
}

button {
    border: none;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

:root {
    --themeColoeOne: #0A69D8;
    --themeColorTwo: #ffa500;
    --colorGreen: #05A845;
    --colorOlive: #AB9774;
    --colorYellow: #FFD43A;
    --colorRed: #DB4437;
    --paraColor: #7d7b7b;
    --colorBlack: #333333;
    --colorWhite: #ffffff;
    --lightBg: #edf5ff;
    --lightBg2: #F5F5F5;
    --headingFont: "Jost", serif;
    --bodyFont: "Roboto", serif;
    --cursiveFont: "Oregano", serif;
    --ratingColor: #F9A61C;
    --boxShadow: rgb(149 157 165 / 16%) 0px 3px 22px;
}

.common_btn {
    background: var(--themeColorTwo);
    padding: 12px 25px;
    color: var(--colorWhite);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.common_btn svg {
    margin-left: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.common_btn:hover svg {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.common_btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: var(--colorBlack);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.common_btn:hover:after {
    left: 0;
    width: 100%;
}

.section_heading p {
    color: var(--themeColorTwo);
    position: relative;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 400;
    text-transform: capitalize;
}

.section_heading p::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 15px;
    background: url(../images/line_shapes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -10px;
    left: 50%;
    z-index: -1;
    opacity: .5;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.section_heading h3,
.section_heading h3 span {
    font-weight: 600;
    font-size: 36px;
    color: var(--colorBlack);
    position: relative;
    text-transform: capitalize;
    z-index: 1;
}

.section_heading_2 p {
    display: block;
}

.section_heading_2 h3 span::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 75px;
    background: url(../images/heading_shapes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -10px;
    left: -7px;
    z-index: -1;
    opacity: 1;
}

.slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    line-height: 40px !important;
    padding: 0;
    text-align: center;
    background: var(--themeColoeOne);
    background: var(--colorWhite);
    color: var(--colorBlack);
    border: 1px solid var(--lightBg);
    font-size: 14px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    z-index: 9;
}

.nextArrow:hover,
.prevArrow:hover {
    background: var(--themeColoeOne);
    border-color: var(--themeColoeOne);
    color: var(--colorWhite);
}

.title {
    display: block;
    color: var(--colorBlack);
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    font-family: var(--headingFont);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.title:hover {
    color: var(--themeColoeOne);
}

.play_btn {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: var(--colorWhite);
    color: var(--colorBlack);
    position: relative;
    z-index: 2;
    font-size: 14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.play_btn::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--colorWhite);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 0;
    left: 0;
    z-index: -1;
    animation: playAnimi 2s infinite;
    -webkit-animation: playAnimi 2s infinite;
}

.play_btn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--colorWhite);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: 0;
    left: 0;
    z-index: -1;
    animation: playAnimi 3s infinite;
    -webkit-animation: playAnimi 3s infinite;
}

@keyframes playAnimi {
    from {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(2);
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
    }
}

.section_heading_beauty h5 {
    font-family: var(--cursiveFont);
    font-weight: 700;
    color: var(--colorOlive);
    letter-spacing: 1px;
    text-transform: capitalize;
}

.section_heading_beauty h3 {
    font-weight: 600;
    font-size: 36px;
    color: var(--colorBlack);
    position: relative;
    text-transform: capitalize;
}

.page_banner {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.page_banner_overlay {
    background: rgb(7 28 31 / 38%);
    padding: 50px 0px 52px 0px;
}

.page_banner_text h1 {
    color: var(--colorWhite);
    font-size: 54px;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
    text-transform: capitalize;
}

.page_banner_text ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px 30px;
}

.page_banner_text ul li a {
    color: var(--colorWhite);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    opacity: .9;
}

.page_banner_text ul li a:hover {
    opacity: 1;
}

.page_banner_text ul li a i {
    margin-right: 5px;
}

.page_banner_text ul li a::after {
    position: absolute;
    content: "\f054";
    font-family: "font awesome 5 free";
    font-weight: 600;
    font-size: 10px;
    color: var(--colorWhite);
    top: 0px;
    right: -18px;
}

.page_banner_text ul li:last-child a::after {
    display: none;
}

.pagination_area ul {
    gap: 10px;
}

.pagination_area .page-link {
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    width: 45px;
    height: 45px;
    text-align: center;
    color: var(--colorBlack);
    line-height: 45px;
    background: var(--colorWhite) !important;
    border: 1px solid rgba(3, 26, 38, 0.14);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.pagination_area .page-link:hover,
.pagination_area .page-link.active {
    color: var(--colorWhite);
    background-color: var(--themeColorTwo) !important;
    border-color: var(--themeColorTwo);
}

.pagination_area .page-link:focus {
    outline: 0;
    box-shadow: none;
}

.container {
    max-width: 1600px;
}