.single_brand {
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px;
    background: var(--lightBg2);
    margin-top: 25px;
    border: 1px solid var(--lightBg2);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.single_brand:hover {
    border-color: var(--themeColorTwo);
}