.product_item {
    border: 1px solid #eee;
    margin-top: 25px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    position: relative;
    overflow: hidden;
    border-color: #ddd !important;
    padding: 15px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.flash_sell .product_item {
    /* margin: 0px 12px; */
}

.product_item .product_img {
    position: relative;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    background: var(--lightBg2) !important;
    height: 265px;
    border: none;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.product_item:hover .product_img img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.product_item .product_img .discount_list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.product_item .product_img .discount_list li {
    background: var(--themeColoeOne);
    color: var(--colorWhite);
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    padding: 3px 10px;
    font-weight: 500;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.product_item .product_img .discount_list .discount {
    background: var(--colorRed);
}

.product_item .product_img .btn_list {
    position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    z-index: 99;
}

.product_item .product_img .btn_list li a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    background: var(--colorBlack);
    color: var(--colorWhite);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.product_img .btn_list li a:hover {
    background: var(--themeColorTwo);
}

.product_item:hover .product_img .btn_list {
    opacity: 1;
    top: 20px;
}

.product_item .product_text {
    padding: 20px 10px 10px 10px;
    position: relative;
}

.product_item .price {
    color: var(--themeColorTwo);
    font-weight: 500;
    font-size: 16px;
}

.product_item .price del {
    color: var(--paraColor);
    margin-left: 3px;
    font-size: 14px;
    font-weight: 400;
}

.product_item .rating {
    margin: 5px 0px 17px 0px;
}

.product_item .rating svg {
    color: var(--ratingColor);
    font-size: 18px;
    margin-right: 2px;
}

.product_item .rating span {
    color: var(--paraColor);
    margin-left: 5px;
    text-transform: capitalize;
    font-size: 14px;
}

.product_item .color {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 200px;
}

.product_item .color li {
    width: 18px;
    height: 18px;
    overflow: hidden;
    background-color: #ddd;
    font-size: 0;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
}