.banner_2 .menu_cat_item,
.home_gadgets .menu_cat_item {
    background: var(--colorWhite);
    box-shadow: var(--boxShadow);
    width: 280px;
    position: relative;
    z-index: 9;
    border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    -ms-border-radius: 0px 0px 8px 8px;
    -o-border-radius: 0px 0px 8px 8px;
}

.default_home .menu_cat_item li.all_category a {
    border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    -ms-border-radius: 0px 0px 8px 8px;
    -o-border-radius: 0px 0px 8px 8px;
}

.banner_slider_2 {
    height: 480px;
    margin: 25px 0px 0px 40px;
    position: relative;
    overflow: hidden;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.banner_slider_2_text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 50px;
    max-width: 65%;
}

.banner_slider_2_text h3 {
    font-size: 22px;
    margin-bottom: 10px;
    font-family: var(--cursiveFont);
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--themeColorTwo);
    text-transform: capitalize;
}

.banner_slider_2_text h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 35px;
    text-transform: capitalize;
}

.banner_slider_2_text p {
    font-size: 16px;
    margin-bottom: 50px;
    font-weight: 400;
    color: var(--colorBlack);
    opacity: .7;
}

.banner_2_add {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 50px;
    overflow: hidden;
    height: 480px;
    margin-top: 25px;
    position: relative;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.banner_2_add .text {
    width: 100%;
}

.banner_2_add .text h4 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: var(--cursiveFont);
    letter-spacing: 2px;
    color: var(--themeColorTwo);
    text-transform: capitalize;
    background: var(--colorWhite);
    display: inline-block;
    padding: 3px 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.banner_2_add .text h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 25px;
}

.banner_2_slider .slick-dots {
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.banner_2_slider .slick-dots li {
    width: 16px;
    height: 15px;
    margin: 0;
}

.banner_2_slider .slick-dots li button {
    font-size: 0;
    width: 8px;
    height: 8px;
    background: var(--themeColorTwo);
    margin: 0;
    outline: 0;
    border: none;
    opacity: .3;
    cursor: pointer;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.banner_2_slider li button:before {
    display: none;
}

.slick-dots li.slick-active button {
    opacity: 1;
}