.main_menu {
    width: 100%;
    height: 60px;
    position: relative;
    z-index: 9;
    border-bottom: 1px solid #8585851a;
}

.menu_category_bar {
    background: var(--themeColoeOne);
    width: 100%;
    height: 60px;
    color: var(--colorWhite);
    padding: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    overflow: hidden;
}

.menu_category_bar svg {
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
    font-size: 23px;
}

.menu_category_bar .ratate_arrow {
    font-size: 20px;
}

.show_category .menu_category_bar .ratate_arrow {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
}

.menu_category_bar p {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    color: var(--colorWhite);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu_category_bar span {
    display: block;
    width: 17px;
    height: auto;
    overflow: hidden;
    margin-right: 10px;
    position: relative;
    top: -1px;
    color: var(--colorWhite);
    font-size: 23px;
}

.menu_category_bar i {
    font-size: 12px;
}

.menu_item {
    line-height: 60px;
    position: relative;
    margin-left: 25px;
}

.menu_icon {
    line-height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 10px;
    margin-left: auto;
}

.menu_icon li {
    position: relative;
}

.menu_icon li a {
    width: 25px;
    height: 25px;
    line-height: 30px;
    text-align: center;
    color: var(--colorBlack);
    position: relative;
    cursor: pointer;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 0;
    margin-right: 8px;
}

.menu_icon li a span {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background: var(--themeColoeOne);
    line-height: 20px;
    font-size: 12px;
    color: var(--colorWhite);
    top: -4px;
    right: -8px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.menu_icon li a:hover,
.menu_icon li a.active {
    color: var(--themeColorTwo) !important;
    border-color: var(--themeColorTwo);
}

.menu_item li {
    margin-right: 25px;
    float: left;
    position: relative;
}

.menu_item li a {
    text-transform: capitalize;
    color: var(--colorBlack);
    font-weight: 500;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    font-size: 16px;
    opacity: .8;
}

.menu_item li a i {
    margin-left: 3px;
    font-size: 12px;
}

.menu_item>li:hover>a,
.menu_item li a.active {
    color: var(--themeColoeOne);
    opacity: 1;
}

.menu_item li a.flash_sell {
    line-height: initial;
    background: #f00c0c26;
    color: var(--colorRed);
    padding: 6px 15px;
    font-size: 15px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.menu_item li a.flash_sell:hover,
.menu_item li a.flash_sell.active {
    background: var(--colorRed);
    color: var(--colorWhite);
}

.main_menu.menu_fix {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0;
    z-index: 999;
    animation: menu_animate 1.5s;
    -webkit-animation: menu_animate 1.5s;
    background: var(--colorWhite);
}

@keyframes menu_animate {
    from {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
}

.main_menu .main_menu_area {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.main_menu .menu_category_area {
    width: 280px;
    height: 60px;
}

.menu_category_area .menu_cat_item {
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
    width: 280px !important;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
}

.menu_category_area.show_category .menu_cat_item {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.main_menu.menu_fix .menu_category_bar {
    display: none;
}

.menu_fix .menu_cat_item {
    opacity: 0 !important;
}

.main_menu.menu_fix .menu_logo {
    display: inline-block !important;
    line-height: 58px;
    border-right: 1px solid #ddd;
    padding-right: 50px;
    padding-bottom: 2px;
}

.main_menu.menu_fix .main_menu_area {
    justify-content: space-between;
}

.main_menu.menu_fix .menu_category_area {
    width: 180px;
}

.main_menu.menu_fix .menu_item {
    margin-left: 50px;
}

.menu_droapdown {
    position: absolute;
    top: 120%;
    left: 0;
    background: var(--colorWhite);
    z-index: 999;
    width: 230px;
    max-height: 410px;
    box-shadow: var(--boxShadow);
    line-height: 35px;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0px;
    transition: ease-in-out .2s;
    -webkit-transition: ease-in-out .2s;
    -moz-transition: ease-in-out .2s;
    -ms-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    overflow: hidden;
    overflow-y: auto;
}

.menu_droapdown::-webkit-scrollbar {
    scrollbar-width: thin !important;
    background: #eee;
    width: 5px;
}

.menu_droapdown::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.menu_droapdown>li {
    margin: 0;
    width: 100%;
    position: relative;
}

.menu_droapdown>li>a {
    color: var(--colorBlack);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    padding: 2px 25px;
    position: relative;
}


.menu_droapdown>li>a>i {
    font-size: 10px;
    margin-right: 5px;
    font-weight: 900;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.menu_droapdown>li>a::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background: var(--themeColoeOne);
    top: 17px;
    left: 20px;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.menu_droapdown>li:hover>a,
.menu_droapdown>li .active {
    color: var(--themeColoeOne);
    padding-left: 30px;
}

.menu_droapdown>li:hover i {
    margin-right: 0;
}

.menu_droapdown>li>a:hover::after,
.menu_droapdown>li>a.active::after {
    opacity: 1;
}

.menu_item li:hover .menu_droapdown,
.menu_item li .menu_droapdown li:hover .child_menu_droapdown {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.menu_droapdown2 {
    width: 220px;
    position: absolute;
    top: -20px;
    left: 110%;
    background: var(--colorWhite);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.menu_droapdown2 li {
    width: 100%;
}

.menu_droapdown2 li a {
    color: #575757;
    width: 100%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.menu_droapdown2>li>a:hover {
    color: #007aff;
}

.menu_droapdown>li:hover .menu_droapdown2 {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.menu_icon li .user_dropdown {
    position: absolute;
    top: 115%;
    left: 20px;
    width: 200px;
    background: var(--colorWhite);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    line-height: 0;
    padding: 10px 25px;
    transition: ease-in-out .2s;
    -webkit-transition: ease-in-out .2s;
    -moz-transition: ease-in-out .2s;
    -ms-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.menu_icon li .user_dropdown::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--themeColorTwo);
    top: -10px;
    left: 33px;
}

.menu_icon li .user_dropdown li {
    margin: 15px 0px;
}

.menu_icon li .user_dropdown li a {
    text-transform: capitalize;
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 0;
}

.menu_icon li .user_dropdown li a svg {
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.menu_icon li .user_dropdown li a:hover {
    color: var(--themeColorTwo) !important;
}

.menu_icon li:hover>.user_dropdown {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.main_menu {
    background: var(--lightBg) !important;
    border: none;
}

.main_menu .menu_item {
    margin: 0 auto;
}

.main_menu .menu_icon {
    margin-left: 0;
}

.main_menu .menu_icon li a.user {
    border-left: 1px solid #ddd;
    padding-left: 20px;
    width: auto;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;
    line-height: 60px;
    gap: 10px;
    margin-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.main_menu .menu_icon li a.user b {
    width: 40px;
    height: 40px;
    line-height: 24px;
    background: var(--colorWhite);
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .menu_icon li a.user b svg {
    font-size: 22px;
    color: var(--themeColorTwo);
}

.main_menu .menu_icon li a.user h5 {
    font-size: 16px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .menu_icon li a.user:hover b,
.main_menu .menu_icon li a.user:hover h5 {
    border-color: var(--themeColorTwo);
    color: var(--themeColorTwo);
}

.main_menu .menu_category_bar {
    background: var(--themeColorTwo);
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}

.main_menu .menu_icon li a span {
    background: var(--themeColorTwo);
}

.main_menu .menu_item>li:hover>a,
.main_menu .menu_item li a.active,
.main_menu .menu_droapdown>li:hover>a,
.main_menu .menu_droapdown>li .active {
    color: var(--themeColorTwo);
}

.main_menu .menu_item li:last-child {
    margin: 0;
}

.main_menu .menu_droapdown>li>a::after {
    background: var(--themeColorTwo);
}