.contact_info {
    background: var(--lightBg2);
    padding: 35px 35px 35px 85px;
    position: relative;
    margin-top: 25px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    margin-left: 20px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.contact_info span {}

.contact_info span svg {
    display: block;
    width: 70px;
    height: 70px;
    padding: 20px;
    color: var(--colorWhite);
    background: var(--themeColorTwo);
    text-align: center;
    position: absolute;
    top: 50%;
    left: -20px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.contact_info:hover span svg {
    background: var(--colorBlack);
}

.contact_info h3 {
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.contact_info a,
.contact_info p {
    display: block;
    color: var(--colorBlack);
    margin-top: 5px;
}

.contact_info a:hover {
    color: var(--themeColorTwo);
}

.contact_img {
    margin-top: 25px;
    margin-right: 50px;
    padding-left: 20px;
    height: 585px;
    position: relative;
}

.contact_img img {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.contact_img .contact_hotline {
    position: absolute;
    bottom: 20px;
    left: -2px;
    background: var(--colorGreen);
    padding: 20px 100px 20px 20px;
    border: 2px solid var(--colorWhite);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.contact_img .contact_hotline h3 {
    color: var(--colorWhite);
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 2px;
    font-family: var(--cursiveFont);
    letter-spacing: 1px;
}

.contact_img .contact_hotline a {
    color: var(--colorWhite);
    font-size: 14px;
    font-weight: 500;
    display: block;
}

.contact_img .contact_hotline a:hover {
    color: var(--themeColorTwo);
}

.contact_img .contact_hotline .icon {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: var(--themeColorTwo);
    z-index: 2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.contact_img .contact_hotline .icon svg {
    color: var(--colorWhite);
    font-size: 26px;
}

.contact_img .contact_hotline .icon::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--themeColorTwo);
    top: 0;
    right: 0;
    z-index: -2;
    animation: playAnimi 2s infinite;
    -webkit-animation: playAnimi 2s infinite;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.contact_form {
    margin-top: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 40px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.contact_form h2 {
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.contact_form button {
    margin-top: 25px;
}

.contact_info .icon {
    width: 70px;
    height: 70px;
    background: var(--lightBg);
    margin-right: 20px;
    padding: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.contact_info .text {
    max-width: 74%;
}

.contact_info .text p,
.contact_info .text a {
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: var(--paraColor);
    line-height: 26px;
}

.contact_info .text a:hover {
    color: var(--colorPrimary);
}

.contact_map {
    height: 550px;
}

.contact_map iframe {
    width: 100%;
    height: 100%;
}