.special_product_item {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--colorWhite);
    padding: 10px;
    border: 1px solid #ecebeb;
    position: relative;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.special_product_img {
    width: 130px;
    height: 120px;
    overflow: hidden;
    margin-right: 20px;
    background: var(--lightBg2);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.special_product_img img {
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.special_product_img .discount {
    background: var(--colorRed);
    position: absolute;
    top: -12px;
    right: 15px;
    color: var(--colorWhite);
    font-family: var(--headingFont);
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 3px 10px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.special_product_text {
    width: 50%;
}

.special_product_text a {
    font-size: 16px;
}

.special_product_text span {
    color: var(--ratingColor);
    display: block;
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 14px;
}

.special_product_text span svg {
    font-size: 18px;
    margin-right: 2px;
}

.special_product_text p {
    color: var(--colorBlack);
    font-weight: 500;
    font-size: 16px;
}

.special_product_text p del {
    font-weight: 400;
    color: var(--paraColor);
    margin-left: 5px;
    font-size: 14px;
}

.special_product_item:hover img {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

.special_product .section_heading,
.special_product .section_heading p,
.special_product .section_heading h3 {
    text-align: center;
}