.filter_btn_area button {
    display: block;
    cursor: pointer;
    color: var(--paraColor);
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-bottom: 1px solid transparent;
    position: relative;
    border: 1px solid #f5f2f2;
    padding: 3px 15px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background: none;
}

.filter_btn_area button:hover {
    color: var(--themeColorTwo);
}

.filter_btn_area button.active {
    color: var(--themeColorTwo);
    border-color: var(--themeColorTwo);
}

.trending_product .section_heading h2 span::after {
    width: 155px;
}