footer {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.footer_logo_area ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.footer_logo_area ul li span {
    font-size: 16px;
    font-weight: 500;
    color: rgb(183 183 183);
}

.footer_logo_area ul li a {
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    color: var(--themeColorTwo);
    font-size: 16px;
    background: #ffffff47;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footer_logo_area ul li a:hover {
    background: var(--colorWhite);
    color: var(--colorBlack);
}

.footer_logo_area .footer_logo {
    display: block;
    width: 150px;
}

.footer_logo_area p {
    color: rgb(183 183 183);
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer_link span {
    display: block;
    color: rgb(183 183 183);
    font-size: 15px;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
}

.footer_link span b {
    position: absolute;
    left: 0;
    top: -3px;
    display: block;
    font-size: 19px;
}

.footer_link span a {
    color: rgb(183 183 183);
    font-size: 15px;
    font-weight: 400;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.footer_link span a:hover {
    color: var(--themeColorTwo);
}

.footer_link h3 {
    color: var(--colorWhite);
    font-family: var(--bodyFont);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer_link ul li a {
    color: rgb(183 183 183);
    font-size: 15px;
    display: block;
    font-weight: 400;
    margin-top: 15px;
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.footer_link ul li a:hover {
    color: var(--themeColorTwo);
    padding-left: 5px;
    opacity: 1;
}

.footer_copyright {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #eeeeee24;
    padding: 20px 0px;
}

.footer_copyright .social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.footer_copyright .social li a {
    background: #052c5a;
    width: 40px;
    height: 40px;
    line-height: 41px;
    text-align: center;
    color: var(--colorWhite);
    font-size: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.footer_copyright .social li a:hover {
    background: var(--themeColorTwo);
}


.footer_copyright p {
    color: rgb(183 183 183);
    font-size: 15px;
}

.footer_copyright p b {
    color: var(--themeColorTwo);
}

.footer_copyright .payment {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.footer_copyright .payment li {
    width: 155px;
    overflow: hidden;
}