.blog_details_img_1 {
    height: 550px;
    overflow: hidden;
    margin-top: 25px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.blog_details_top {
    gap: 10px 30px;
    margin-top: 35px !important;
    border-bottom: 1px solid #ddd;
    padding-bottom: 25px;
}

.blog_details_top li {
    color: var(--colorBlack) !important;
    padding: 0 !important;
    margin: 0 !important;
}

.blog_details_top li span {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 4px;
    position: relative;
    top: -3px;
}

.blog_details_top li span img {
    filter: brightness(0) saturate(100%) invert(71%) sepia(94%) saturate(2724%) hue-rotate(360deg) brightness(103%) contrast(104%);
}

.blog_details_top li::after {
    display: none !important;
}

.blog_details_left h1,
.blog_details_left h2,
.blog_details_left h3,
.blog_details_left h4,
.blog_details_left h5,
.blog_details_left h6 {
    font-weight: 600;
    margin-top: 30px;
}

.blog_details_left h1 {
    font-size: 46px;
}

.blog_details_left h2 {
    font-size: 42px;
}

.blog_details_left h3 {
    font-size: 38px;
}

.blog_details_left h4 {
    font-size: 34px;
}

.blog_details_left h5 {
    font-size: 30px;
}

.blog_details_left h6 {
    font-size: 26px;
}

.blog_details_left p {
    font-size: 16px;
    line-height: 28px;
    margin-top: 15px;
}

.blog_details_left ul,
.blog_details_left ol {
    margin-top: 20px;
}

.blog_details_left ul li,
.blog_details_left ol li {
    font-size: 16px;
    font-weight: 400;
    color: var(--paraColor);
    margin-top: 15px;
    position: relative;
    padding-left: 25px;
}

.blog_details_left ul li::after,
.blog_details_left ol li::after {
    position: absolute;
    content: "";
    top: 3px;
    left: 0px;
    width: 15px;
    height: 15px;
    background: url(../../assets/images/Star.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blog_shear_area {
    margin-top: 58px;
    margin-bottom: 40px;
}

.blog_shear_area_left {
    align-items: center;
}

.blog_shear_area_left h5,
.blog_shear_area_right h5 {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--headingFont);
    color: var(--colorBlack);
    margin-right: 15px;
}

.blog_details_tag {
    gap: 10px;
}

.blog_details_tag li a {
    padding: 6px 18px;
    font-size: 14px;
    font-weight: 400;
    color: var(--colorBlack);
    background: transparent;
    border: 1px solid #ddd;
    text-transform: capitalize;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.blog_details_tag li a:hover {
    color: var(--colorWhite);
    background: var(--themeColorTwo);
    border-color: var(--themeColorTwo);
}

.blog_shear_area_right {
    align-items: center;
}

.blog_shear_area_right ul {
    gap: 5px;
}

.blog_shear_area_right ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: var(--themeColorTwo);
    background: var(--lightBg2);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.blog_shear_area_right ul li a:hover {
    color: var(--colorWhite);
    background: var(--themeColorTwo);
}

.blog_comment {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-top: 35px;
    border-top: 1px solid #ddd;
}

.blog_comment_img {
    width: 60px;
    height: 60px;
}

.blog_comment_img img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.blog_comment_text {
    width: 92%;
    margin-left: 25px;
}

.blog_comment_text h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.blog_comment_text span {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--colorBlack);
    display: block;
    margin-bottom: 10px;
}

.blog_details_left form {
    margin-top: 85px;
}

.blog_form_input {
    margin-top: 20px;
}

.blog_form_input input,
.blog_form_input textarea {
    border-color: #eee;
}

.blog_checkbox {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 28px;
}

.blog_checkbox input {
    margin: 0;
    padding: 0;
}

.form-check-input:checked {
    background-color: var(--themeColorTwo);
    border-color: var(--themeColorTwo);
}

.form-check-input:focus {
    box-shadow: none;
    border-color: var(--themeColorTwo);
}

.blog_checkbox label {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}

.blog_details_right {
    border-left: 1px solid #ddd;
    overflow: hidden;
    margin-top: 25px;
}

.blog_details_right form {
    margin-left: 25px;
    position: relative;
    padding-bottom: 40px;
}

.blog_details_right form button {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: var(--themeColorTwo);
    color: var(--colorWhite);
    top: 5px;
    right: 5px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.blog_details_right form button:hover {
    background: var(--colorBlack);
}

.blog_owner {
    margin: 20px 0px 45px 25px;
    padding: 60px 0px;
    text-align: center;
    background: url(../images/blog_owner_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blog_owner_img {
    width: 230px;
    height: 230px;
    margin: auto;
}

.blog_owner_img img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.blog_owner h4 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 30px;
    color: var(--colorWhite);
    text-transform: capitalize;
}

.blog_owner p {
    font-size: 16px;
    margin-top: 5px;
    color: var(--colorWhite);
    opacity: 0.7;
    text-transform: capitalize;
}

.blog_owner ul {
    margin-top: 30px;
}

.blog_owner ul li {
    border-right: 2px solid #9b929252;
}

.blog_owner ul li a {
    font-size: 16px;
    padding: 0px 8px;
    color: var(--colorWhite);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.blog_owner ul li:last-child {
    border-right: none;
}

.blog_owner ul li a:hover {
    color: var(--colorPrimary);
}

.blog_details_right_header.sidebar_blog {
    padding-bottom: 40px;
}

.blog_details_right_header {
    padding-left: 25px;
    padding-top: 37px;
    border-top: 1px solid #ddd;
}

.blog_details_right_header h3 {
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
}

.popular_blog {
    margin-top: 25px;
}

.popular_blog_img {
    width: 90px;
    height: 90px;
    background: var(--lightBg2);
    padding: 5px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.popular_blog_text {
    width: 69%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 18px;
}

.popular_blog_text p span {
    width: 18px;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: -2px;
}

.popular_blog_text p span img {
    filter: brightness(0) saturate(100%) invert(71%) sepia(94%) saturate(2724%) hue-rotate(360deg) brightness(103%) contrast(104%);
}

.popular_blog_text a {
    font-size: 16px;
    margin-top: -5px;
}

.sidebar_blog_category {
    margin-top: 25px;
    margin-bottom: 40px;
}

.sidebar_blog_category li a {
    width: 100%;
    padding: 14px 18px;
    margin-top: 15px;
    background: var(--lightBg2);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.sidebar_blog_category li a:hover {
    background: var(--themeColorTwo);
    color: var(--colorWhite) !important;
}

.sidebar_blog_category li a p {
    padding-left: 12px;
}

.sidebar_blog_category li a p,
.sidebar_blog_category li a span {
    position: relative;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    color: var(--colorBlack);
    text-transform: capitalize;
}

.sidebar_blog_category li a p::after {
    position: absolute;
    content: "";
    top: 9px;
    left: 0;
    width: 5px;
    height: 5px;
    background: var(--paraColor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.sidebar_blog_category li a:hover p,
.sidebar_blog_category li a:hover span {
    color: var(--colorWhite);
}

.sidebar_blog_category li a:hover p::after {
    background: var(--colorWhite);
}

.blog_details_right_header .blog_details_tag {
    margin-top: 25px;
    margin-bottom: 40px;
    padding-bottom: 1px;
}

.blog_seidebar_add {
    position: relative;
    overflow: hidden;
    height: 430px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.blog_seidebar_add .text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px 40px;
    text-align: center;
}

.blog_seidebar_add .text h4 {
    font-size: 26px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.blog_details_comment h2,
.blog_details_comment_input h2 {
    font-size: 34px;
    font-weight: 600;
}

.blog_details_comment_input {
    padding: 50px;
    margin-top: 50px;
    background: var(--lightBg2);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}