.product_item_2 {
    background: var(--lightBg2);
    border: none;
    box-shadow: none !important;
    margin: 0px 12px;
}

.product_item_2 .product_img {
    height: 245px;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.product_item_2 .rating {
    margin-bottom: 0;
}

.product_item_2 .title {
    margin-bottom: 5px;
    -webkit-line-clamp: 1;
}

.product_item_2 .product_img .discount_list {
    top: 0;
    left: 0;
}