.details_slider_thumb_item {
    background: var(--lightBg2);
    overflow: hidden;
    margin: 0px 12px;
    height: 590px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.shop_details_text {
    padding: 0px 50px;
}

.shop_details_text .category {
    text-transform: capitalize;
}

.shop_details_text .details_title {
    font-size: 38px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
    margin-top: 7px;
}

.shop_details_text .stock {
    background: #05a84512;
    color: var(--colorGreen);
    padding: 2px 10px;
    margin-right: 15px;
    text-transform: capitalize;
    font-family: var(--headingFont);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.shop_details_text .out_stock {
    color: var(--colorRed);
    background: #db443712;
}

.shop_details_text .rating {
    color: var(--ratingColor);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.shop_details_text .rating svg {
    font-size: 18px;
}

.shop_details_text .rating span {
    margin-left: 5px;
    font-size: 14px;
}

.shop_details_text .price {
    font-size: 30px;
    color: var(--colorBlack);
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.shop_details_text .price del {
    color: var(--paraColor);
    font-weight: 400;
    font-size: 18px;
}

.shop_details_text .short_description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 35px;
}

.details_single_variant,
.details_qty_area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.details_single_variant .variant_title {
    color: var(--colorBlack);
    min-width: 54px;
    font-family: var(--headingFont);
    font-weight: 500;
    font-size: 15px;
}

.details_variant_color,
.details_variant_size,
.details_qty_area {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
}

.details_variant_color li {
    width: 25px;
    height: 25px;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.details_variant_size li {
    height: 25px;
    line-height: 25px;
    width: 45px;
    background: var(--lightBg2);
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    color: var(--colorBlack);
    position: relative;
    cursor: pointer;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.details_variant_size li:hover,
.details_variant_size li.active {
    background: var(--themeColorTwo);
    color: var(--colorWhite);
}

.details_qty_input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--lightBg2);
    overflow: hidden;
    margin-right: 15px;
    width: 130px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.details_qty_input button {
    width: 35px;
    height: 45px;
    font-weight: 400;
    color: var(--colorBlack);
    background: var(--lightBg2);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    padding: 0;
    font-size: 15px;
}

.details_qty_input input {
    width: 60px;
    height: 45px;
    padding: 0;
    text-align: center;
    background: none;
    border: none;
    border-right: 1px solid var(--colorWhite);
    border-left: 1px solid var(--colorWhite);
    font-size: 14px;
    font-weight: 500;
    color: var(--colorBlack);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.details_btn_area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.details_btn_area .buy_now {
    background: var(--colorGreen);
}

.details_list_btn {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 20px;
    border-bottom: 1px solid #dddf;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.details_list_btn li a {
    font-size: 16px;
    color: var(--paraColor);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3px;
}

.details_list_btn li a svg {
    font-size: 18px;
}

.details_list_btn li a:hover {
    color: var(--themeColorTwo);
}

.details_tags_sku {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.details_tags_sku li {
    color: var(--paraColor);
    font-size: 14px;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.details_tags_sku li p {
    color: var(--colorBlack);
    font-size: 15px;
    margin-right: 5px;
    font-family: var(--headingFont);
    font-weight: 500;
}

.shop_details_shate {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.shop_details_shate li {
    color: var(--colorBlack);
    font-weight: 500;
    font-family: var(--headingFont);
    font-size: 15px;
}

.shop_details_shate li a {
    text-align: center;
    color: var(--colorBlack);
    font-size: 16px;
    margin-left: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.shop_details_sidebar_info {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.shop_details_sidebar_info ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.shop_details_sidebar_info ul li {
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
    position: relative;
    padding-left: 35px;
}

.shop_details_sidebar_info ul li span,
.shop_details_sidebar_info ul li svg {
    display: inline-block;
    width: 27px;
    height: 22px;
    margin-top: -1px;
    position: absolute;
    left: 0;
}

.shop_details_sidebar_info h5 {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 10px;
}


.shop_details_sidebar_store {
    background: var(--lightBg);
    padding: 20px;
    margin-top: 25px;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.shop_details_sidebar_store .sold_by {
    display: block;
    color: var(--colorBlack);
    font-size: 14px;
    margin-bottom: 5px;
}

.shop_details_sidebar_store .store_name {
    text-transform: capitalize;
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 15px;
}

.shop_details_sidebar_store ul {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    gap: 10px;
    padding: 15px 0px;
}

.shop_details_sidebar_store ul li {
    padding-left: 13px;
}

.shop_details_sidebar_store ul li p {
    color: var(--colorBlack);
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.shop_details_sidebar_store ul li p::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background: var(--paraColor);
    top: 6px;
    left: -13px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.shop_details_sidebar_store ul li span {
    font-size: 14px;
    font-weight: 400;
}

.shop_details_sidebar_store .go_store {
    width: 100%;
    text-align: center;
    color: var(--themeColorTwo);
    font-weight: 600;
    font-size: 15px;
    margin-top: 15px;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.shop_details_sidebar_store .go_store:hover {
    color: var(--colorBlack);
}

.shop_details_sidebar_store .chat {
    position: absolute;
    top: 18px;
    right: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100px;
    color: var(--themeColoeOne);
    font-size: 13px;
    font-weight: 600;
    justify-content: end;
    gap: 5px;
}

.shop_details_sidebar_store .chat:hover {
    color: var(--themeColorTwo);
}

.shop_details_sidebar_store .chat svg {
    display: block;
    width: 17px;
}

.details_btn_area a:disabled {
    background: #ddd !important;
    color: #999 !important;
    border-color: #ddd !important;
    opacity: 0.6;
}

.details_btn_area .common_btn[aria-disabled="true"] {
    background: #ddd !important;
    color: #999 !important;
    border-color: #ddd !important;
    opacity: 0.6;
}

.details_btn_area .common_btn[aria-disabled="true"] svg {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.details_btn_area .common_btn[aria-disabled="true"]::after {
    display: none;
}